<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228753934029-1hun3n7v6idq7fdgoqnr2glb36552ba5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228753934029-1hun3n7v6idq7fdgoqnr2glb36552ba5</string>
	<key>API_KEY</key>
	<string>AIzaSyDXWfB6wUMCRGPBPU9-V3Qz6j39sCItEj8</string>
	<key>GCM_SENDER_ID</key>
	<string>228753934029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hooray.mgx.loginandsignup</string>
	<key>PROJECT_ID</key>
	<string>loginandsignup-f3a8c</string>
	<key>STORAGE_BUCKET</key>
	<string>loginandsignup-f3a8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228753934029:ios:2e30a15fc86a54a0</string>
	<key>DATABASE_URL</key>
	<string>https://loginandsignup-f3a8c.firebaseio.com</string>
</dict>
</plist>